{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!--Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!--pybo CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, pybo!</title>
</head>
<body>
{% include "navbar.html" %}

<!--기본 템플릿 안에 삽입될 내용 Start-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 End-->

<!--jQuery JS-->    <!-- jQuery 자바스크립트를 작성하기 위해 jQuery 라이브러리 먼저 로드 -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!--Bootstrap JS-->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!--자바스크립트 Start-->    <!-- base.html을 상속하는 템플릿은 jQuery 라이브러리를 신경 쓸 필요 없이 아래 블록에 jQuery 자바스크립트를 작성하면 됨 -->
{% block script %}
{% endblock %}
<!--자바스크립트 End-->
</body>
</html>